@page "{Id}"
@model PersonModel

<form method="post">
  <div class="mb-3">
    <label for="FirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.curr.FirstName">
  </div>
  <div class="mb-3">
    <label for="LastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.curr.LastName">
  </div>
  <div class="mb-3">
    <label for="Phone" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.curr.Phone">
  </div>
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" name="save" value="save"></imput>
    <input type="submit" class="btn btn-danger" name="save" value="delete"></imput>
  </div>
</form>